doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //dont remove axios, need it for valid address checking
    script(src="https://unpkg.com/axios/dist/axios.min.js", crossorigin="anonymous") 
    
  body
    block content
